@font-face {
    font-family: "Minecraft Font";
    src: url("/static/minecraft-font/MinecraftRegular-Bmg3.otf") format("truetype"),
        url("/static/minecraft-font/MinecraftBold-nMK1.otf") format("truetype"),
        url("/static/minecraft-font/MinecraftItalic-R8Mo.otf") format("truetype"),
        url("/static/minecraft-font/MinecraftBoldItalic-1y1e.otf") format("truetype");
}

:root {
    /* When you need a lighter background, just use a higher transparency (lower last value) */
    --bg-base: hsla(0, 0%, 0%, 0.75);
    --bg-middle: hsla(0, 0%, 0%, 0.5);
    --bg-top: hsla(0, 0%, 0%, 0.0);
    --bg-button: hsl(35, 95%, 54%);
    --bg-button-hover: hsl(34, 94%, 66%);
    --focused-text: hsl(0 0% 95%);
    --text: hsl(0 0% 60%);
    --unfocused-text: hsl(0 0% 50%);
    --sign-text: hsl(0 0% 35%);
    --font: "Minecraft Font", Arial, Helvetica, sans-serif;
}

/* NOTE: for the love of all that is holy, please, please don't EVER touch the z-index*/
body {
    color: var(--text);
    font-family: var(--font);
    background-image: 
        linear-gradient(var(--bg-base), var(--bg-base)), 
        url("/static/images/blocks/stone.png");
    top: 0;
    left: 0;
    margin: 0%;
    height: 100%;
    background-size: 60pt, 60pt;
    background-repeat: repeat;
}

h1 {
    color: var(--focused-text);
}

button.orange {
    background: var(--bg-button);
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--focused-text);
    text-shadow: 0.5px 1px 2px black;
    font-weight: 700;
    border-radius: 0;
    border: none;
    font-family: var(--font);
    box-shadow: 1px 2px 1px black;
}

button.orange:hover {
    color: var(--focused-text);
    background-color: var(--bg-button-hover);
}

input {
    color: var(--focused-text);
    font-family: var(--font);
}

.header {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 60pt;
    width: 100%;
    position: sticky;
    background-image:
        linear-gradient(
            to bottom,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.25) 5%,        
            hsla(0, 0%, 0%, 0.5) 30%,        
            hsla(0, 0%, 0%, 0.75) 90%  
        ), 
        url("/static/images/blocks/dirt.png");
    background-repeat: repeat;
    background-size: 60pt, 60pt;
    text-align: center;
}

.header button {
    padding-left: 15pt;
    padding-right: 15pt;
    flex: 1 1 100pt;
    background-color: hsla(0, 0%, 0%, 0);
    border: none;
    font-family: var(--font);
}

.below-header {
    display: flex;
    flex-direction: column;
    margin-left: 15pt;
    margin-right: 15pt;
}

.margins {
    margin-left: 15pt;
    margin-right: 15pt;
}

.main {
    flex: 0 0 97%;
}

.store-frame {
    width: 100%;
    display: table;
    border-collapse: seperate;
    border-spacing: 15pt;
    background-image: 
        linear-gradient(var(--bg-middle), var(--bg-middle)),
        url("images/blocks/log.png");
    background-repeat: repeat;
    background-size: 60pt, 60pt;
    background-blend-mode: multiply;
}

.store-row {
    display: table-row;
}

.store-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-image: 
        linear-gradient(var(--bg-top), var(--bg-top)),
        url("images/blocks/planks.png");
    background-repeat: repeat;
    background-size: 60pt, 60pt;
    color: black;
    font-weight: 250;
    font-size: large;
    padding: 15pt;
    background-blend-mode: multiply;
    line-height: 2.3;
}

.disclaimer {
    display: flex;
    flex: 0 0 3%;
    justify-content: center;
    align-items: center;
}