{% extends "template.html" %}

{% block head %}
<title>Villager Store</title>
{% endblock %}

{% block header %}
<div class="welcome">
    <p> Review remover 3000 </p>
</div>
<nav>
    <li><span><a class="blue" href="{{ url_for('index') }}">Back</a></span></li>
    <li><span style="font-family: Arial; font-weight: bolder;">|</span></li>
    <li><span><a class="blue" href="{{ url_for('admin_view') }}">Add product</a></span></li>
    <li><span style="font-family: Arial; font-weight: bolder;">|</span></li>
    <li><span><a class="blue" href="{{ url_for('history') }}">Receipt</a></span></li>
    <li><span style="font-family: Arial; font-weight: bolder;">|</span></li>
    <li><span><a class="blue" href="{{ url_for('logout') }}">Log out</a></span></li>
    <li><span style="font-family: Arial; font-weight: bolder;">|</span></li>
    <li><span><a class="blue" href="{{ url_for('cart') }}"><b>Cart</b></a></span></li>
</nav>
{% endblock %}

{% block body %}
    <br><br>
    <div class="cart-fixer">
        <div class="cart-table">
            <div class="cart-row">
                <div class="cart-cell">
                    <b>Product</b>
                </div>
                <div class="cart-cell">
                    <b>Review</b>
                </div>
                <div class="cart-cell">
                    <b>Reviewer</b>
                </div>
            </div>
            {% for review in review_array %}
                <div class="cart-row">
                    <div class="cart-cell">
                        <div class="item-text">{{ review[3] }}</div>
                    </div>
                    <div class="cart-cell">
                        {{ review[0] }}<br>{{ review[4] }}
                    </div>
                    <div class="cart-cell">
                        {{ review[1] }}
                    </div>
                    <div class="cart-cell">
                        <form method="post">
                            <button type="submit" class="orange" name="remove" value="{{ review[2] }}">Remove</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}