{% extends "template.html" %}

{% block head %}
    <title>sample text</title>
{% endblock %}

{% block header %}
<div class="welcome">
    <p> Here's your cart {{ username }}!</p>
</div>
{% endblock %}

{% block body %}
    <br><br>
    <div class="cart-fixer">
        <div class="cart-table">
            <div class="cart-row">
                <div class="cart-cell">
                    <b>Product</b>
                </div>
                <div class="cart-cell">
                    <b>Name</b>
                </div>
                <div class="cart-cell">
                    <b>Price</b>
                </div>
            </div>
            {% for product in product_array %}
                <div class="cart-row">
                    <div class="cart-cell">
                        <img src="/static/images/items/{{ product[0] }}-{{ product[1] }}.png">
                    </div>
                    <div class="cart-cell">
                       {{ product[2] }}
                    </div>
                    <div class="cart-cell">
                        <p class="price-text">{{ product[3] }}<img class="price" src="/static/images/items/388-0.png"></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
