{% extends "template.html" %}

{% block head %}
    <title>sample text</title>
{% endblock %}

{% block header %}
<div class="welcome">
    <p> Welcome {{ username }}!</p>
</div>
{% endblock %}

{% block body %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in product_array %}
                    <tr>
                        <td>
                            <img src="/static/images/items/{{ product[0] }}-{{ product[1] }}.png">
                        </td>
                        <td>
                            {{ product[2] }}
                        </td>
                        <td>
                          {{ product[3] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
