{% extends "template.html" %}

{% block head %}
    <title>Cart | Villager store</title>
{% endblock %}

{% block header %}
<div class="welcome">
    <p> Here's your cart {{ username }}!</p>
</div>
{% endblock %}

{% block body %}
    <br><br>
    <div class="cart-fixer">
        <div class="cart-table">
            <div class="cart-row">
                <div class="cart-cell">
                    <b>Product</b>
                </div>
                <div class="cart-cell">
                    <b>Name</b>
                </div>
                <div class="cart-cell">
                    <b>Amount</b>
                </div>
                <div class="cart-cell">
                    <b>Total price</b>
                </div>
                <div class="cart-cell"></div>
            </div>
        </div>
    </div>
{% endblock %}
