{% extends "template.html" %}

{% block head %}
<title>Villager Store</title>
{% endblock %}

{% block header %}
<div class="welcome">
    <p> Welcome {{ name }}!</p>
</div>
<nav>
    <li><span><a href="{{ url_for('logout') }}">Log out</a></span></li>
    <li><span style="font-family: Arial; font-weight: bolder;">|</span></li>
    <li><span><a href="{{ url_for('cart') }}"><b>Cart</b></a></span></li>
</nav>
{% endblock %}

{% block body %}
    <br><br>
    <div class="store-grid">
        {% for item in items %}
            <div class="store-item">
                <img class="item" src="/static/images/items/{{ item[1] }}-{{ item[2] }}.png">
                <p class="text" >{{ item[3] }}</p>
                <div class="price-text">{{ item[4] }}<img class="price" src="/static/images/items/388-0.png"></div>
                <!-- These buttons don't fit at all, but they're fine for now -->
                <span>
                <button class="orange" id="{{ item[0] }}">Add</button>
                <button class="orange" id="{{ item[0] }}">Remove</button>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
