{% extends "template.html" %}

{% block head %}
    <title>Login | Villager Store</title>
{% endblock %}

{% block body %}
    <p>Login using the fields below:</p><br>
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Enter username" required>
        <input type="text" name="password" placeholder="Enter password" required>
        <button type="submit" class="orange">Login</button>
    </form>
    <p class="orange">Dont have an account? <a href="/register">Register Here!</a></p>
{% endblock %}