{% extends "template.html" %}

{% block head %}
    <title>Reviews | Villager Store</title>
{% endblock %}

{% block header %}
<div class="welcome">
    <p>{{ username }}</p>
</div>
<nav>
    <li><span><a class="blue" href="{{ url_for('logout') }}">Log out</a></span></li>
    <li><span style="font-family: Arial; font-weight: bolder;">|</span></li>
    <li><span><a class="blue" href="{{ url_for('cart') }}"><b>Cart</b></a></span></li>
</nav>
{% endblock %}

{% block body %}
    <br><br>
    <div class="cart-fixer">
        <div class="cart-table">
            <div class="cart-row">
                <div class="cart-cell">
                    <b>Product</b>
                </div>
                <div class="cart-cell">
                    <b>Review</b>
                </div>
                <div class="cart-cell">
                    <b>Reviewer</b>
                </div>
            </div>
            {% for review in review_array %}
                <div class="cart-row">
                    <div class="cart-cell">
                        <div class="item-text">{{ review[0] }}</div>
                        <img class="item" src="/static/images/items/{{ review[4] }}-{{ review[5] }}.png">
                    </div>
                    <div class="cart-cell">
                        {{ review[1] }}<br>{{ review[2] }}
                    </div>
                    <div class="cart-cell">
                        {{ review[3] }}
                    </div>
                </div>
            {% endfor %}
            <div class="cart-row">
                <div class="cart-cell">
                    <form method="post">
                        <div class="price-text">
                            <input type="text" name="rating" placeholder="write your rating (1-10)">
                            <input type="text" name="review" placeholder="Write your review">
                            <input type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
