<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet", href="/static/basic_stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-quiv="X-UA-Compatible" content="ie=edge">
    <!-- Doing this with thet block head and stuff creates a template that can be used everywhere -->
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="margins">
            <!-- The header -->
            {% block header %}{% endblock %}
        </div>
    </div>
    <div class="below-header">
        <div class="main">
            <!-- Main block -->
            {% block body %}{% endblock %} 
        </div>
        <br><br><br>
        <div class="disclaimer">NOT AN OFFICIAL MINECRAFT [PRODUCT/SERVICE/EVENT/etc.]. NOT APPROVED BY OR ASSOCIATED WITH MOJANG OR MICROSOFT</div>
    </div>
</body>
</html>