<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet", href="/static/basic_stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-quiv="X-UA-Compatible" content="ie=edge">
    <!-- Doing this with thet block head and stuff creates a template that can be used everywhere -->
    {% block head %}{% endblock %}
</head>
<body>
    <!-- This whole thing is litterally just boilerplate I stole from a youtube video. It'll be changed later-->
    {% block body %}{% endblock %} 
</body>
</html>