<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet", href="/static/basic_stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-quiv="X-UA-Compatible" content="ie=edge">
    <!-- Doing this with thet block head and stuff creates a template that can be used everywhere -->
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="margins">
            <div class="logo">
                <a href="{{ url_for('index') }}"><button><h1>Villager store</h1></button></a>
            </div>
            {% block header %}{% endblock %}
        </div>
    </header>
    <div class="below-header">
        <div class="main">
            <!-- Main block -->
            {% block body %}{% endblock %} 
        </div>
        <br><br><br>
        <div class="disclaimer">Not an official minecraft website. We are not approved by or associated with Mojang or Microsoft.</div>
    </div>
</body>
</html>
